/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #00d8243b;
}

/* Container styling */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Header image styling */
.header-image {
  display: block;
  margin: 0 auto 20px;
  max-width: 100%;
  height: auto;
}

/* Section title styling */
h2 {
  margin-bottom: 15px;
  color: #007bff; /* Primary color */
}

h3 {
  margin-bottom: 10px;
}

/* Form group styling */
.form-group {
  margin-bottom: 20px;
}

/* Label styling */
label {
  font-weight: bold;
  color: #333; /* Text color */
}

/* Input styling */
input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc; /* Border color */
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #007bff; /* Focus color */
}

/* Button styling */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745; /* Success color */
  color: #fff; /* Text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #218838; /* Darker shade of success color */
}

/* File input styling */
input[type="file"] {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc; /* Border color */
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}

input[type="file"]:focus {
  outline: none;
  border-color: #007bff; /* Focus color */
}

hr {
  border: none;
  height: 5px;
  background-color: #095c17; /* Primary color */
  margin: 20px 0; /* Adjust margin as needed */
}

.alert {
  color: red;
  font-weight: bold;
}